<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>

  <%- include('nav'); %>

  <!-- <i class="material-icons">directions_boat</i> -->
  <div class="center-align">
    <div class="row">
      <div class="col s10 offset-s1">
        <div class="card #e57373 red lighten-2">
          <div class="card-content white-text">
            <span class="card-title">AH-HOY there matey! Lets find ya some ships!</span>
              <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/30950-200.png">
          </div>
          <div class="card-content white-text">
         <p style="Font-size:20px">To begin, either search for a ships name or click for a random ship to be chosen.</p>
       </div>
          <a class="waves-effect waves-light btn-large" href="/heatmap"><i class="material-icons left">directions_boat</i>Random Vessel</a>
          <a class="waves-effect waves-light btn-large" href="/heatmap"><i class="material-icons left">flare</i>Heatmap</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  </body>
</html>
